<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <title>Welcome</title>
</head>
<body>
    <img class="background" src="/images/landscape.jpeg">
    <div class="container">
        <div class="inner-container">
            <img class="item logo" src="images/logo.jpeg">
            <h4 class="item">Insert your client card into the deposit slot below</h4>
            <input type="password" inputmode="numeric" class="textbox" name="pin" id="pin">
            
                <div class="num-pad item">
                    <button class="number-button">9</button>
                    <button class="number-button">8</button>
                    <button class="number-button">7</button>
                    <button class="number-button">6</button>
                    <button class="number-button">5</button>
                    <button class="number-button">4</button>
                    <button class="number-button">3</button>
                    <button class="number-button">2</button>
                    <button class="number-button">1</button>
                    <button class="number-button">0</button>
                    <button class="number-button" style="background-color: rgb(158, 212, 158);">Login</button>
                    <button class="number-button" style="background-color: rgb(239, 79, 44);">Clear</button>
                    
                </div>
            <input class="item button" type="button" onclick= "window.location.href='/manual-login.html';" value="Manual Login"/>
        </div>
    </div>
    </body>
</html>