<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <title>Welcome</title>
</head>

<body>
    <img class="background" src="/images/landscape.jpeg">
    <div class="container">
        <div class="column left">
        </div>
        <div class="column center">
            <div class="inner-container">
                <h1 class="item">Main Menu</h1>
                <input type="button" onclick="window.location.href='/withdraw.html';" value="Withdraw" class="button item">
                <input type="button" onclick="window.location.href='/deposit.html';" value="Deposit" class="button item">
                <input type="button" onclick="window.location.href='/balance.html';" value="Check Balance" class="button item">
            </div>
        </div>
        <div class="column right">
            <form action="/logout" method="post">
                <input type="submit" value="Logout" class="button item">
            </form>
        </div>
    </div>
</body>

</html>